@{
    ViewBag.Title = "Home Page";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/assets/img/portfolio/20220224_182156.jpg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Ian McClaflin</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <!--<div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
            <!--<div class="divider-custom-line"></div>-->
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">- Full Stack Web Developer -</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <!--<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>-->
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="text-white2">
                    Hello my name is Ian McClaflin, I am a full stack web developer with the .net stack. Before entering the web development field, I worked in secondary and higher education.
                    Working with students as well as faculty has provided me valuable experience in corporation as well as teamwork.  In addition to teaching, I have experience with both sound and video design software.  I understand the development field is ever changing and adapting to new technologies is crucial.
                </p>
            </div>
            <div class="col-lg-4 me-auto"><p class="text-white2">    My willingness to continue to learn new skills is evidenced by my completion of the Centriq program as well as my previous degrees and experience.  Working through the program at Centriq has inspired a new passion for web development within me especially with frontend design. The more I have learned about web development, the more I wish to sharpen these skills. This site is a showcase of my projects through the Centriq program as well as my personal projects </p></div>
        </div>
    </div>
</section>