
@{
    ViewBag.Title = "Links";
}

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <br />
        <br />
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Links</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <!--<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>-->
        </div>
        <!-- Portfolio Grid Items-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>This page includes links to my classmates work</h2>
                        <br />
                        <div class="row justify-content-center">
                            <!-- Portfolio Item 1-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/SeanMcKinney.jpg" alt="..." />
                                    <h2>Sean McKinney</h2>
                                    <a href="http://mckinneywebdev.com/">SeanMcKinney - Website</a>
                                    <a href="https://www.linkedin.com/in/sean-a-mckinney/">SeanMcKinney - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 2-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Romeo Bagunu.jpg" alt="..." />
                                    <h2>Romeo Bagunu</h2>
                                    <a href="https://www.linkedin.com/in/romeo-bagunu/">Romeo Bagunu - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 3-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Enrique Garcia.jpg" alt="..." />
                                    <h2>Enrique Garcia</h2>
                                    <a href="https://www.linkedin.com/in/enrique-garcia-757689232/">Enrique Garcia - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 4-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Connor Dunn.jpg" alt="..." />
                                    <h2>Connor Dunn</h2>
                                    <a href="http://fountaincitydev.com/">Connor Dunn - Website</a>
                                    <a href="https://www.linkedin.com/in/connor-dunn-396188233/">Connor Dunn - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 5-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Austin Wallace.jpg" alt="..." />
                                    <h2>Austin Wallace</h2>
                                    <a href="http://austinwallace.net/">Austin Wallace - Website</a>
                                    <a href="https://www.linkedin.com/in/aus-wallace/">Austin Wallace - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 6-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Jazmine Rizo.jpg" alt="..." />
                                    <h2>Jazmine Rizo</h2>
                                    <a href="https://www.linkedin.com/in/jazmine-rizo-7aa283232/">Jazmine Rizo - LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2></h2>
                        <div class="row justify-content-center">
                            <!-- Portfolio Item 1-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Benjamin McDaniel.jpg" alt="..." />
                                    <h2>Benjamin McDaniel</h2>
                                    <a href="https://www.linkedin.com/in/benjaminjmcd/">Benjamin McDaniel - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 2-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Zack Sisler.jpg" alt="..." />
                                    <h2>Zack Sisler</h2>
                                    <a href="http://zaksisler.com/">Zack Sisler - Website</a>
                                    <a href="https://www.linkedin.com/in/zakary-sisler/">Zack Sisler - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 3-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Kayla Nguyen.jpg" alt="..." />
                                    <h2>Kayla Nguyen</h2>
                                    <a href="http://www.kaylawin.com/">Kayla Nguyen - Website</a>
                                    <a href="https://www.linkedin.com/in/kayla-n-nguyen/">Kayla Nguyen - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 4-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Matt Roberts.jpg" alt="..." />
                                    <h2>Matt Roberts</h2>
                                    <a href="http://mattroberts-dev.com/">Matt Roberts - Website</a>
                                    <a href="https://www.linkedin.com/in/mattroberts-dev/">Matt Roberts - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 5-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Justin Peacock.jpg" alt="..." />
                                    <h2>Justin Peacock</h2>
                                    <a href="http://projectpeacock.net/">Justin Peacock - Website</a>
                                    <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/">Justin Peacock - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 6-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Alex Klee.gif" alt="..." />
                                    <h2>Alex Klee</h2>
                                    <a href="http://alexklee.net/">Alex Klee - Website</a>
                                    <a href="https://www.linkedin.com/in/alex-klee-6b962a232/">Alex Klee - LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2></h2>
                        <div class="row justify-content-center">
                            <!-- Portfolio Item 1-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Payton Vonholten.jpg" alt="..." />
                                    <h2>Payton Vonholten</h2>
                                    <a href="http://paytonvon.com/">Payton Vonholten - Website</a>
                                    <a href="https://www.linkedin.com/in/payton-vonholten-ab145322a/">Payton Vonholten - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 2-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Michael Redifer.jpg" alt="..." />
                                    <h2>Michael Redifer</h2>
                                    <a href="https://www.linkedin.com/in/michael-redifer-202288232/">Michael Redifer - LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
