
@{
    ViewBag.Title = "Portfolio";
}

<section class="page-section portfolio" id="portfolio">
    <br />
    <br />
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <!--<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>-->
        </div>
        <!-- Portfolio Grid Items-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>This page includes links my portfolio projects</h2>
                        <br />
                        <div class="row justify-content-center">
                            <!-- Portfolio Item 1-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/img/portfolio/amit-lahav-rxN2MRdFJVg-unsplash.jpg" alt="..." />
                                    <h2>Eduteck</h2>
                                    <li>
                                        Made from scratch HTML site based on an eductation company.
                                    </li>
                                    <a href="http://edutek.ianmcclaflin.com/">Eduteck - Website</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 2-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid"
                                    <img src="~/Content/img/portfolio/Sword2.jpg" />
                                    <h2>The Legend of the C Sharpened Sword</h2>
                                    <li>
                                        Original C# Console game that demonstrats many competencies using C#.
                                    </li>
                                    <a href="https://github.com/ianmcclaflin/DungeonApplication">The Legend of the C Sharpened Sword - Github link</a>
                                </div>
                            </div>
                            @*<!-- Portfolio Item 3-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Enrique Garcia.jpg" alt="..." />
                                    <h2>Enrique Garcia</h2>
                                    <a href="https://www.linkedin.com/in/enrique-garcia-757689232/">Enrique Garcia - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 4-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Connor Dunn.jpg" alt="..." />
                                    <h2>Connor Dunn</h2>
                                    <a href="http://fountaincitydev.com/">Connor Dunn - Website</a>
                                    <a href="https://www.linkedin.com/in/connor-dunn-396188233/">Connor Dunn - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 5-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Austin Wallace.jpg" alt="..." />
                                    <h2>Austin Wallace</h2>
                                    <a href="http://austinwallace.net/">Austin Wallace - Website</a>
                                    <a href="https://www.linkedin.com/in/aus-wallace/">Austin Wallace - LinkedIn</a>
                                </div>
                            </div>
                            <!-- Portfolio Item 6-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/Jazmine Rizo.jpg" alt="..." />
                                    <h2>Jazmine Rizo</h2>
                                    <a href="https://www.linkedin.com/in/jazmine-rizo-7aa283232/">Jazmine Rizo - LinkedIn</a>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
