
@{
    ViewBag.Title = "Resume";
}

<section class="page-section bg-primary2 text-white mb-0" id="about">
    <div class="container">
        <br />
        <br />
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Resume</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <!--<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>-->
        </div>
        <!-- About Section Content-->
        <section id="about">
            
            <section>
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">

                            
                            <div id="accordion">
                                <p class="lead">Front End</p>
                                <ul>
                                    <li>HTML 5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</li>
                                </ul>
                                <p class="lead">Middle Tier</p>
                                <ul>
                                    <li>C#.NET, ASP.NET, LINQ, MCV, EF, ASP.NET Web API</li>
                                </ul>
                                <p class="lead">Back End</p>
                                <ul>
                                    <li>ADO.NET, SQL, SQL Server</li>
                                </ul>
                                <p class="lead">Professional Skills</p>
                                <ul>
                                    <li>Toubleshooting, Critical Thinking, Communication, Project Management, Fundamentals, Teamwork, Pair Programming</li>
                                </ul>
                                <p class="lead">Personal Site</p>
                                <ul>
                                    <li>ianmcclaflin.com; Created JavaScript, jQuery, and Bootstrap</li>
                                </ul>
                                <p class="lead">StoreFront</p>
                                <ul>
                                    <li>
                                        Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart.
                                        Administrators have the ability to manage product, catagory and vendor data.
                                    </li>
                                </ul>
                                <p class="lead">S.A.T. Scheduling Administration Tool</p>
                                <ul>
                                    <li>
                                        Created a secure application for managing product data. Application is built to simulate an online class scheduling system.
                                        Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.
                                    </li>
                                </ul>
                                <p class="lead">Full Stack Web Developer Program, Centriq Training Kansas City MO, Core Competencies:</p>
                                <ul>
                                    <li>MCV Framework</li>
                                    <li>Trouble Shooting & Debugging</li>
                                    <li>Source Control</li>
                                    <li>Agile/Scrum (Created Team Project)</li>
                                    <li>Website Deployment</li>
                                    <li>Pair Programming</li>
                                    <li>Code Review</li>
                                </ul>
                                <p class="lead">Doctor of Musical Arts</p>
                                <ul>
                                    <li>University of Southern Mississippi - Graduated 05/2021</li>
                                </ul>
                                <p class="lead">Master of Music Performance - Percussion</p>
                                <ul>
                                    <li>University of Missouri Columbia - Graduated 05/2014</li>
                                </ul>
                                <p class="lead">Bachelor of Music Performance - Percussion</p>
                                <ul>
                                    <li>University of Central Missouri - Graduated 05/2012</li>
                                </ul>
                                <p class="lead">
                                    Adjunct Instructor of Music - University of Central Missouri, Warrensburg Mo. <br />
                                    08/2021 - Present
                                </p>
                                <ul>
                                    <li>Teach courses in Computer Notation, Music Appreciation, and Private Lesson Instruction.</li>
                                    <li>Developed and implemented curriculum for online Computer Notation course.</li>
                                    <li>Produce content using sound and video editing software.</li>
                                </ul>
                                <p class="lead">
                                    Visiting Professor of Musc - University of Central Missouri, Warrensburg Mo. <br />
                                    01/2019 - 05/2019
                                </p>
                                <ul>
                                    <li>Taught courses in Percussion Methods, and Private Lesson Instruction.</li>
                                    <li>Facilitated and oversaw all aspects of the percussion studio.</li>
                                    <li>Collaborated with other music faculty on duties related to the music school.</li>
                                </ul>
                                <p class="lead">
                                    Private Percussion Lesson Instructor <br />
                                    08/2017 - 05/2022
                                </p>
                                <ul>
                                    <li>Taught both in person and online lessons in all areas of percussion.</li>
                                    <li>Maintained a studio of 10-20 students on average each year.</li>
                                    <li>Actively persued additional performance opportunities for students.</li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <section />
                @*<section>
                    <div class="container px-4">
                        <div class="row gx-4 justify-content-center">
                            <div class="col-lg-8">
                                <h2>Independent Development Projects</h2>
                                <div id="accordion">
                                    <p class="lead">Personal Site</p>
                                    <ul>
                                        <li>ianmcclaflin.com; Created JavaScript, jQuery, and Bootstrap</li>
                                    </ul>
                                    <p class="lead">StoreFront</p>
                                    <ul>
                                        <li>
                                            Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart.
                                            Administrators have the ability to manage product, catagory and vendor data.
                                        </li>
                                    </ul>
                                    <p class="lead">S.A.T. Scheduling Administration Tool</p>
                                    <ul>
                                        <li>
                                            Created a secure application for managing product data. Application is built to simulate an online class scheduling system.
                                            Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </section>
                <section>
                    <div class="container px-4">
                        <div class="row gx-4 justify-content-center">
                            <div class="col-lg-8">
                                <h2>Technical Training</h2>

                                <p class="lead">Full Stack Web Developer Program, Centriq Training Kansas City MO, Core Competencies:</p>
                                <ul>
                                    <li>MCV Framework</li>
                                    <li>Trouble Shooting & Debugging</li>
                                    <li>Source Control</li>
                                    <li>Agile/Scrum (Created Team Project)</li>
                                    <li>Website Deployment</li>
                                    <li>Pair Programming</li>
                                    <li>Code Review</li>
                                </ul>

                            </div>
                        </div>
                </section>
                <section>
                    <div class="container px-4">
                        <div class="row gx-4 justify-content-center">
                            <div class="col-lg-8">
                                <h2>Education</h2>
                                <p class="lead">Doctor of Musical Arts</p>
                                <ul>
                                    <li>University of Southern Mississippi - Graduated 05/2021</li>
                                </ul>
                                <p class="lead">Master of Music Performance - Percussion</p>
                                <ul>
                                    <li>University of Missouri Columbia - Graduated 05/2014</li>
                                </ul>
                                <p class="lead">Bachelor of Music Performance - Percussion</p>
                                <ul>
                                    <li>University of Central Missouri - Graduated 05/2012</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container px-4">
                        <div class="row gx-4 justify-content-center">
                            <div class="col-lg-8">
                                <h2>Work Experience</h2>
                                <p class="lead">
                                    Adjunct Instructor of Music - University of Central Missouri, Warrensburg Mo. <br />
                                    08/2021 - Present
                                </p>
                                <ul>
                                    <li>Teach courses in Computer Notation, Music Appreciation, and Private Lesson Instruction.</li>
                                    <li>Developed and implemented curriculum for online Computer Notation course.</li>
                                    <li>Produce content using sound and video editing software.</li>
                                </ul>
                                <p class="lead">
                                    Visiting Professor of Musc - University of Central Missouri, Warrensburg Mo. <br />
                                    01/2019 - 05/2019
                                </p>
                                <ul>
                                    <li>Taught courses in Percussion Methods, and Private Lesson Instruction.</li>
                                    <li>Facilitated and oversaw all aspects of the percussion studio.</li>
                                    <li>Collaborated with other music faculty on duties related to the music school.</li>
                                </ul>
                                <p class="lead">
                                    Private Percussion Lesson Instructor <br />
                                    08/2017 - 05/2022
                                </p>
                                <ul>
                                    <li>Taught both in person and online lessons in all areas of percussion.</li>
                                    <li>Maintained a studio of 10-20 students on average each year.</li>
                                    <li>Actively persued additional performance opportunities for students.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>*@




